<!DOCTYPE html>
<html lang="en">

<head>

    <title>Jobify - Chat</title>
    <%- include('./components/meta') %>
        <link rel="stylesheet" href="css/chat.css">
</head>

<body>
    <section>
        <div class="container-landing">

            <div class="transparentback caption d-flex justify-content-center" style="box-shadow: none;">
                <% include('../public/js/my') %>
                    <%- include('./components/header') %>

                        <div class="main-landing d-flex  flex-column-reverse flex-lg-row col-12 justify-content-center align-items-center py-lg-5">
                            <div class="container align-items-center">
                                <div class="main-body">
                                    <div class="container-fluid h-100">
                                        <div class="row justify-content-center h-100">

                                            <div class="col-md-8 col-xl-6 chat">
                                                <div class="card">
                                                    <div class="card-header msg_head">

                                                        <div class="d-flex bd-highlight">

                                                            <div class="img_cont">
                                                                <a href="/profileViewer?view=<%=profileTo.mail%>">
                                                                    <img src="<%=withoutLast5(profileTo.picture)%>s240-c" class="rounded-circle user_img">
                                                                </a>
                                                            </div>

                                                            <div class="user_info text-capitalize">
                                                                <a href="/profileViewer?view=<%=profileTo.mail%>" style="text-decoration: none;">
                                                                    <span><%=profileTo.name%> <%=profileTo.surname%></span>
                                                                </a>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="card-body msg_card_body">
                                                        <%msg.forEach( (singleMsg) =>{ %>

                                                            <%if (singleMsg.startsWith(profileTo.mail)){%>
                                                                <div class="d-flex justify-content-start mb-4">
                                                                    <div class="img_cont_msg">
                                                                        <img src="<%=withoutLast5(profileTo.picture)%>s240-c" class="rounded-circle user_img_msg">
                                                                    </div>
                                                                    <div class="msg_cotainer">
                                                                        <%=singleMsg.replace(profileTo.mail + ':','')%><br>
                                                                    </div>
                                                                </div>

                                                                <%}else if (singleMsg.startsWith(user.mail)){%>
                                                                    <div class="d-flex justify-content-end mb-4">
                                                                        <div class="msg_cotainer_send">
                                                                            <%=singleMsg.replace(user.mail + ':','')%><br>
                                                                        </div>
                                                                        <div class="img_cont_msg">
                                                                            <img src="<%=withoutLast5(user.picture)%>s240-c" class="rounded-circle user_img_msg">
                                                                        </div>
                                                                    </div>
                                                                    <%}%>
                                                                        <% });%>
                                                    </div>

                                                    <div class="card-footer">
                                                        <div class="input-group d-flex">
                                                            <form method="post" action="/chat/invia" class="d-flex col-12">
                                                                <input type="text" class="form-control type_msg" name="message" autocomplete="off" required>
                                                                <button type="submit" class="btn neurobtn"><span><i class="fas fa-location-arrow"></i></span></button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>                                                          
                                            <div class="col-md-8 col-xl-6">
                                              <div class="card">
                                                <div class="card-body">
                                                  <div class="row">
                                                    <div class="d-flex flex-row align-items-center text-white">
                                                      <div class="caption-post">
                                                        <h4 class="py-2">Aggiungi un meeting al calendario</h4>
                                                        <div class="d-flex flex-row gap-3 mt-3 pt-2">
                                                          <form method="post" action="/chat/event" class="inline">
                                                            <input type="hidden" name="profileTo" value="<%=profileTo%>">
                                                            <div class="row py-1">
                                                              <div class="col-sm-4">
                                                                <h6 class="mb-0">Inizio: </h6>
                                                              </div>
                                                              <div class="col-sm-8 text-white text-capitalize">
                                                                  <input type="datetime-local" class="form-control" autocomplete="off" name="startTime" required>
                                                              </div>
                                                            </div>
                                                            <div class="row py-1">
                                                              <div class="col-sm-4">
                                                                <h6 class="mb-0">Fine:</h6>
                                                              </div>
                                                              <div class="col-sm-8 text-white text-capitalize">
                                                                  <input type="datetime-local" class="form-control" autocomplete="off" name="endTime" required>
                                                              </div>
                                                            </div>
                                                            <div class="row py-1">
                                                              <div class="col-sm-4">
                                                                <h6 class="mb-0">Titolo:</h6>
                                                              </div>
                                                              <div class="col-sm-8 text-white text-capitalize">
                                                                  <input type="text" placeholder="Aggiungi un titolo..." class="form-control" autocomplete="off" name="titolo" required>
                                                              </div>
                                                            </div>
                                                            <div class="row py-1">
                                                              <div class="col-sm-4">
                                                              <h6 class="mb-0">Descrizione:</h6>
                                                              </div>
                                                              <div class="col-sm-8 text-white text-capitalize">
                                                                  <textarea name="descrizione" placeholder="Aggiungi una descrizione..." autocomplete="off" class="form-control" cols="30" rows="5"></textarea>
                                                              </div>
                                                            </div>
                                                            <div class="row py-1">
                                                              <div class="col-sm-4">
                                                              <h6 class="mb-0">Luogo:</h6>
                                                              </div>
                                                              <div class="col-sm-8 text-white text-capitalize">
                                                                  <input type="text" class="form-control" placeholder="Aggiungi un luogo..." autocomplete="off" name="luogo">
                                                              </div>
                                                            </div>
                                                              <button type="submit" class="contactbtn btn mt-3">Aggiungi <i style="font-size: large;" class="fa-solid fa-plus-square"></i></button>
                                                              <%if (done){%>
                                                                <span class="px-3 " style="color:greenyellow; font-size: larger;">Evento aggiunto <i class="fa-solid fa-check"></i></span>
                                                              <%}%>
                                                            </form>                                     
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>   
    </div>
  </section>    
  <script src="js/jquery.js"></script>
</body>
</html>
