<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Jobify - Chat</title>
    <%- include('./components/meta') %>
</head>
<body>  
  <section>
      <div class="container-landing">

        <div class="caption d-flex justify-content-center">
            <% include('../public/js/my') %>
            <%- include('./components/header') %>

            <div class="main-landing d-flex  flex-column-reverse flex-lg-row col-12 justify-content-center align-items-center py-lg-5">
              <div class="container align-items-center">
                  <div class="main-body">
                  
                        <div class="row gutters-sm">
                          <div class="transparentback col-md-4 mb-3">
                            <div class="card transparentback" style="border:0;">
                              <div class="card-body transparentback">
                                <div class="d-flex flex-column align-items-center text-center transparentback ">
                                  <img src="<%=withoutLast5(user.picture)%>s240-c" alt="Foto profilo" class="rounded-circle" width="150">
                                  <div class="mt-3">
                                    
                                    <h4 style="color:white"><%=capitalize(user.name)%> <%=capitalize(user.surname)%></h4>
                                    <p class="text-secondary mb-1"><%=user.mail%></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="col-md-8 d-flex flex-column justify-content-center">
                            <div class="card mb-3 transparentback neuromorph">
                              <div id="profileInfo" class="card-body">
                                <div class="row">
                                  <div class="col-sm-9 text-white text-capitalize">
                                    <%=user.name%> <%=user.surname%><br>
                                    Azienda: 
                                    <%=user.azienda%>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-12">
                                    Messaggi:
                                    <%=msg%>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form method="post" action="/chat/invia" class="inline">
                                            <input type="text" name="message">
                                            <button type="submit" class="btn neurobtn" >Invia</button>
                                        </form>
                                    </div>
                                </div>
                              </div>
                              
                            </div>
                            
                            <div class="card mb-3 transparentback neuromorph">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="d-flex flex-row align-items-center">
                                          <div class="caption-post">
                                              <strong class="text-dark">Proponi meeting</strong>
                                              <div class="d-flex gap-3 mt-3">
                                                  <form method="post" action="/chat/event" class="inline">
                                                    <input type="hidden" name="timezone" value="<%=Intl.DateTimeFormat().resolvedOptions().timeZone %>">
                                                    <div class="row">
                                                      <div class="col-sm-3">
                                                      <h6 class="mb-0">Inizio: </h6>
                                                      </div>
                                                      <div class="col-sm-9 text-white text-capitalize">
                                                          <input type="datetime-local" name="startTime">
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-sm-3">
                                                      <h6 class="mb-0">Fine:</h6>
                                                      </div>
                                                      <div class="col-sm-9 text-white text-capitalize">
                                                          <input type="datetime-local" name="endTime">
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-sm-3">
                                                      <h6 class="mb-0">Titolo:</h6>
                                                      </div>
                                                      <div class="col-sm-9 text-white text-capitalize">
                                                          <input type="text" name="titolo">
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-sm-3">
                                                      <h6 class="mb-0">Descrizione:</h6>
                                                      </div>
                                                      <div class="col-sm-9 text-white text-capitalize">
                                                          <textarea name="descrizione" cols="30" rows="5"></textarea>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-sm-3">
                                                      <h6 class="mb-0">Luogo:</h6>
                                                      </div>
                                                      <div class="col-sm-9 text-white text-capitalize">
                                                          <input type="text" name="luogo">
                                                      </div>
                                                    </div>
                                                      <button type="submit" class="contactbtn btn mt-3">Proponi <i style="font-size: large;" class="fa-solid fa-message"></i></button>
                                                  </form>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
              
                      </div>
                  </div>
            </div>

            <div class="footer-landing d-flex flex-col gap-5 justify-content-evenly  justify-content-md-start">
              <div class="media">
                <h2 style="color: #fde672;text-decoration: underline;">Matteo Papa</h2>
                  <div class="social">
                    <div><a href=""><i class="fa fa-envelope"></i></a></div>
                    <div><a href=""><i class="fab fa-github"></i></a></div>
                  </div>
              </div>
              <div class="media">
                <h2 style="color: #fde672;text-decoration: underline;">Matteo Cutroni</h2>
                  <div class="social">
                    <div><a href=""><i class="fa fa-envelope"></i></a></div>
                    <div><a href=""><i class="fab fa-github"></i></a></div>
                  </div>
              </div>
            </div>

        </div>

      </div>
  </section>    
  <script src="js/jquery.js"></script>
</body>
</html>