<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Jobify - Home</title>
    <%- include('./components/meta') %>
</head>
<body>  
<section>
    <div class="container-landing">

      <div class="caption d-flex justify-content-center">
          <% include('../public/js/my') %>
          <%- include('./components/header') %>

          <div class="main-landing d-flex  flex-column-reverse flex-lg-row col-12 justify-content-center align-items-center py-lg-5">
            <div class="container align-items-center">
                <div class="main-body">
                      <!-- /Breadcrumb -->
                
                      <div class="row gutters-sm">
                        <div class="transparentback col-md-4 mb-3">
                          <div class="card transparentback" style="border:0;">
                            <div class="card-body transparentback">
                              <div class="d-flex flex-column align-items-center text-center transparentback ">
                                <img src="<%=withoutLast5(user.picture)%>s240-c" alt="Foto profilo" class="rounded-circle" width="150">
                                <div class="mt-3">
                                  
                                  <h4 style="color:white" class="text-capitalize"><%=user.name%> <%=user.surname%></h4>
                                  <p class="text-secondary mb-1 d-xl-block d-none"><%=user.mail%></p>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-center">
                          <div class="card mb-3 transparentback neuromorph">
                            <div id="profileInfo" class="card-body">
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Nome</h6>
                                </div>
                                <div class="col-sm-9 text-white text-capitalize mt-1">
                                    <%=user.name%> <%=user.surname%>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-white mt-1">
                                    <%=user.mail%>
                                </div>
                              </div>
                              <hr>

                                  <!---->
                              <!--FORM START -->
                                  <!---->
                              <form method="POST" action="/api/profile">
                                  
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ruolo</h6>
                                    </div>
                                    <div class="col-sm-9 text-white text-capitalize d-flex gap-3">
                                      <div class="form-check mt-1">
                                        <input class="form-check-input" type="radio" name="ruolo" id="ruolo1" value="lavoratore" required 
                                        <% if (user.ruolo=="lavoratore"){%>checked<%}%>>
                                        <label for="ruolo1">Lavoratore</label>
                                      </div>
                                      <div class="form-check mt-1">
                                        <input class="form-check-input" type="radio" name="ruolo" id="ruolo2" value="datore" required
                                        <% if (user.ruolo=="datore"){%>checked<%}%>>
                                        <label for="ruolo2">Datore</label>
                                      </div>
                                      
                                        
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <h6 class="mb-0">Azienda</h6>
                                    </div>
                                    <div class="col-sm-9 text-white text-capitalize">
                                        <input type="text" class="form-control mt-1" name="azienda" id="azienda" value="<%=user.azienda%>" placeholder="Azienda di cui fai parte...">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Curriculum</h6>
                                  </div>
                                  <div class="col-sm-9 text-white">
                                  <input class="d-none" type="file" id="curriculum" name="curriculum" accept=".pdf,.doc" hidden/>
                                    <div class="navbar-landing-header px-1" id="divcurriculum">
                                      <!--Upload Curriculum su Drive-->
                                      <label for="curriculum">
                                        <a class="download-icon" style="fill:white"><i class="fa-solid fa-upload"></i></a>
                                      </label>
                                     
                                    </div>
                                  </div>
                                </div>
                                <hr>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                    <button type="submit" class="btn neurobtn">Salva</button>
                                    <a href="/profile" class="btn neurobtn mx-2">Annulla</a>
                                    </div>
                                </div>
                              </form>
                              
                            </div>
                          </div>
                        </div>
                      </div>
            
                    </div>
                </div>
          </div>

          <div class="footer-landing d-flex flex-col gap-5 justify-content-evenly  justify-content-md-start">
            <div class="media">
              <h2 style="color: #fde672;text-decoration: underline;">Matteo Papa</h2>
                <div class="social">
                  <div><a href=""><i class="fa fa-envelope"></i></a></div>
                  <div><a href=""><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="media">
              <h2 style="color: #fde672;text-decoration: underline;">Matteo Cutroni</h2>
                <div class="social">
                  <div><a href=""><i class="fa fa-envelope"></i></a></div>
                  <div><a href=""><i class="fab fa-github"></i></a></div>
                </div>
            </div>
          </div>

      </div>

    </div>
</section>

      
<script src="js/jquery.js"></script>


</body>
</html>